body{
    background-image: url(images/3099783.jpg);
    background: black;
    text-align: center;

    margin-right: auto;
    margin-left: auto;
}
h1{
    text-shadow: 5px 5px 15px grey;
    text-align: center;
    color: white;
    font-size: xx-large; 
}
h2{
    text-shadow: 5px, 5px, 15px gray;
    color: white;
    text-align: center;
}
h3{
  text-shadow: 5px, 5px, 15px gray;
  color: white;
  text-align: center;
}
p{
    color: white;
    text-align: center;
}
button{
    text-shadow: 5px 5px 20px rgb(19, 17, 25);
    box-shadow: 0px 0px 15px white;
    text-align: center;
}
.small-icon{
    width: 50px;
    height: 50px;
    text-align: center;
    border-color: white;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.small-icon:hover {
    transform: translateY(-15px);
}
.btn {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 15px red;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;

 
    /*transition: transform 0.3s ease 0s;*/
}
.btn:hover {
    transform: translateY(-15px);
}

